#header {
    background-image: url(../images/rays-clouds.webp);
    background-position: center;
}

#title {
    color: rgb(54, 54, 196);
}

#form-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: rgb(19, 19, 116);
    color: white;
    margin-top:5px;
    border-radius: 3px;
}

.input-group-append {
    display: block;
    width: 100%;
}

#search-input {
    display: inline;
    width: 100%;
    line-height: 2;
}

#search-button {
    display: block;
    width: 100%;
    border-radius: 3px;
}

#clear-button {
    display: block;
    width: 100%;
    border-radius: 3px;
}



